.foverlay{
    display: block;
    position: absolute;
    z-index: 20;
    background: rgba(78, 83, 88, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    text-align:center;
    opacity:0;
  }
  .hovered .foverlay {
      opacity:1
  }

  .foverlay_animate {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    opacity:0;
    transition: all 0.5s;
  }
  .hovered .foverlay_animate {
    top: 50%;
    opacity: 1;
  }
  .foverlay_animate a {
    margin: 0 auto;
    display: block;
    width: 60px;
    height: 60px;
      border:2px solid #fff;
      border-radius:50%;
      color:#fff;
      line-height: 55px;
    font-weight: 700;
    font-size: 30px;
      text-decoration:none;
  }
  .featured-projects {
    display:flex;
    flex-wrap: wrap;
  }
  
  .featured-projects>div {
      display: flex;
height:500px;
  flex: 0 50%;
  justify-content: center;
  align-items: center;
  }
  @media (max-width: 768px) {
  .featured-projects>div {
    flex: 0 100%;
  }
}