.bdiv {
width:200px;
height:200px;
}
.blogSection_wrap {
    display: flex;
    flex-wrap: wrap;
}
div.singleBlog {
    flex: 0 33.33%;
    align-items: center;
    text-align: center;
}
.blogwarp {
    display: flex;
    flex-wrap: wrap;
}