body { 
    overflow-x: hidden;
}
.ScrollUpButton__Container {
    border-width:3px!important;
    z-index:9999;
    &:focus {
      outline:none!important;
    }
  &:hover {
    background: rgb(131,58,180);
    background: -moz-linear-gradient(280deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -webkit-linear-gradient(280deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: linear-gradient(280deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
  svg {
    fill:#fff;
  }
  }
}
.LogoSvg {
  width:250px;
  transition: all 0.4s ease-in-out;
}
.footerc .LogoSvg{
  width:350px;
}
header.header_sticky .LogoSvg {
  width:220px;
}
header.header_sticky .main-logo {
  margin:5px;
}
header.header_sticky .turn, header.header_sticky .turn2 {
display: none;
}
.featured_end {
  height: 50px;
  background: #833ab4;
  background: -moz-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: -webkit-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); 
}
.content-main .awesomeButton_div {
  width: 250px;
  margin-top: 30px;
  .awesomeButton {
    padding: 8px 40px;
    font-size: 30px;
  }
}