$slider_back: 'https://ik.imagekit.io/zkvrzayer06/tr:f-auto/ontimeimg_BH15xflnr.jpg';
.main-section {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.35);
  -webkit-transform: translateZ(0.4px);
  transform: translateZ(0.4px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url($slider_back);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden; }

.content-main {
  display: block;
  color: #fff; }

.content-main h1 {
  font-size: 90px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize; }

.content-main p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center; }

.section2 {
  padding: 80px 0; }

.section2_content h2 {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 900; }

.section2_content p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Helvetica", Arial, sans-serif;
  margin-bottom: 20px; }

.featured_content h3 {
  color: #fff;
  font-size: 50px;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.featured_title {
  padding: 25px;
  text-align: center;
  background: #833ab4;
  background: -moz-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: -webkit-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); }

.featured_title h2 {
  color: #fff;
  font-size: 55px;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.featured_end {
  height: 50px;
  background: #833ab4;
  background: -moz-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: -webkit-linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1); 
}

.services, #blog {
  padding: 100px 50px;
  background-color: #f6f9fc;
}

#blog {
  text-align: center; }
.allButton {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .services, #blog {
    padding: 50px 10px;
  }
}
.content-main .awesomeButton_div {
  width: 250px;
  margin-top: 30px;
  .awesomeButton {
    padding: 8px 40px;
    font-size: 30px;
  }
}